name: kickfunding
description: A new Flutter project.
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev


version: 1.0.0+1

environment:
  sdk: ">=2.21.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_image_compress: ^2.0.3
  image: ^4.0.17
  flutter_screenutil: ^5.7.0
  dotted_border: ^2.0.0+3
  cupertino_icons: ^1.0.5
  flutter_svg: ^2.0.4
  google_fonts: ^4.0.4
  intl: ^0.18.0
  flutter_bloc: ^7.1.0
  #flutter_bloc: ^8.1.2
  equatable: ^2.0.5
  provider: ^6.0.5
  shared_preferences: ^2.1.0
  country_list_pick: ^1.0.1+6
  csc_picker: ^0.2.7
  country_picker: ^2.0.20
  flutter_rating_bar: ^4.0.1
  intl_phone_number_input: ^0.7.3+1
  image_picker: ^0.8.7+4
  dropdown_button2: ^1.9.2
  flutter_stripe: ^9.1.1
  path: ^1.8.3
  cloud_firestore: ^4.7.0
  firebase_core: ^2.12.0
  firebase_storage: ^11.2.0
  email_auth: ^1.0.0





dev_dependencies:
  flutter_test:
    sdk: flutter
    
  
  flutter_lints: ^2.0.0


flutter:

  uses-material-design: true


  assets:
    - assets/images/
    - assets/fonts/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
